<!DOCTYPE html>
<head>
<LINK REL=StyleSheet HREF="style.css" TYPE="text/css" MEDIA=screen>
</head>

<div class="navbar navbar-fixed-top"><div class="navbar-inner"><div class="container"><a class="brand" href="/">Bart or Drive?</a></div></div></div>
<div class="container" style= "padding-top: 100px">

<body>
<div class="container">
<div class="row-fluid">
  <h4 class="alert">Something seems to be wrong with one of your addresses. Please check them and try again.</h2>
  <h1>Bart or Drive?</h1>



  <form action="/results" method="get">
  Origin: <br /><input class="input-xlarge" type="text" name="origin" value="<%= params["origin"]%>"/><br />
  Destination: <br /><input class="input-xlarge" type="text" name="destination" value="<%= params["destination"]%>" /><br />
  <button class="btn btn-success btn-large">Bart OR Drive?</button>
  </form>
</div>
</div>
</body>
</html>