<!DOCTYPE html>
<head>
<LINK REL=StyleSheet HREF="style.css" TYPE="text/css" MEDIA=screen>
</head>

<div class="navbar navbar-fixed-top"><div class="navbar-inner"><div class="container"><a class="brand" href="/">Bart or Drive?</a></div></div></div>
<div class="container" style= "padding-top: 100px">

<body>
<div class="container">
<div class="row-fluid">
  <h1 style="padding-bottom: 20px">Bart or Drive?</h1>
  <form action="/results" method="get">
  <label>Origin:</label><input class="input-xlarge" type="text" name="origin" />
  <label>Destination:</label><input class="input-xlarge" type="text" name="destination" />
  <label>Parking Cost:</label><input class="input-xlarge" type="text" name="parking_cost" />
  <button class="right btn btn-success btn-large" style="float:right; margin-top:20px">Bart or Drive?</button>
  </form>
</div>
</div>
</body>
</html>