<LINK REL=StyleSheet HREF="style.css" TYPE="text/css" MEDIA=screen>
<div class=container>
<h1>Bart or Drive?</h1>



<form action="/results" method="get">
Origin: <br /><input type="text" name="origin" /><br />
Destination: <br /><input type="text" name="destination" /><br />
<button class="btn btn-success btn-large">Bart OR Drive?</button>
</form>
</div>