<LINK REL=StyleSheet HREF="style.css" TYPE="text/css" MEDIA=screen>
<div class=container>
<h1>Bart or Drive?</h1>



<form action="/results" method="get">
First name: <input type="text" name="firstname" /><br />
Last name: <input type="text" name="lastname" />
<button>button</button>
</form>
</div>